html {
    background-color: #262626;
    background-image: -moz-linear-gradient(center top, #000, #262626);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000), color-stop(1, #262626));
    background-image: linear-gradient(top, #000, #262626);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#9CC0C3', EndColorStr = '#659599');
    background-repeat: no-repeat;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #262626;
    background-image: -moz-linear-gradient(center top, #000, #262626);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000), color-stop(1, #262626));
    background-image: linear-gradient(top, #000, #262626);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#9CC0C3', EndColorStr = '#659599');
    background-repeat: no-repeat;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: none;
}

#grailsLogo {
    background-color: rgba(38,38,38, .9);
}

#wrapper {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background-color: rgba(38,38,38, .9);
    align-content: center;
}

#filter {
    height: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #000;
    color: #fff;
    padding-left: 20px;
}

.radioGroup {
    float: left;
    padding-right: 10px;
}

.knTable {
    background-color: #000;
    padding: 10px;
    color: #fff;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.expandableTable {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

}

table {
    border-collapse: collapse;
}

thead {
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    border-color: #e56b29;
}

thead, td {
    padding: 0;
    height: 30;
}

table tbody tr:nth-child(odd) td{
    background-color: rgba(38,38,38, .9);
}
table tbody tr:nth-child(even) td{
    background-color: #000;
}

table thead tr td {
    height: 40px;
    background-color:  #e56b29;
}

#rep {
    padding-left: 20px;
    padding-bottom: 20px;
}

#repInfo {
    color: #fff;
    line-height: 40px;
}

.repName {
    padding-left: 10px;
}

.repName a {
    text-decoration: none;
    color: #ffffff;
}

.managerName {
    font-style: italic;
}

.managerRow td {
    background-color: #172856;
}

.footer {
    background-color: rgba(38,38,38, .9);
}

.copyright{
    font-size: 10px;
    color: #fff;
    margin-top: 10px;
    float: right;
}
.spinner {
    position: relative;
}

.infoFields {
   padding-right: 30px;
}

.repLabels {
    font-weight: bold;
    font-style: italic;
}

a:link {
    text-decoration: none;
    color: #fff;
}

a:visited {
    color: #ffffff;
}

.pagination .step {
    color: #000000;
}

.pagination .currentStep {
    color: #000000;
}

.pagination .nextLink {
    color: #000000;
}

.nav {
    background-color: #ffffff;
}

h1 {
    color: #e56b29;
}
